html, body {
    margin: 5px;
    padding: 0;
}
.title {
    font-weight: bold;
    font-size: x-large;
}
.dbName {
    font-weight: bold;
}
.settings {
    padding-top: 10px;
    padding-bottom: 10px;
}